.container {
    background-image: url('@/assets/image/FileItem/file.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // min
    min-width: 60px;
    min-height: 60px;

    //common
    width: 80px;
    height: 80px;

    border-radius: 15%;
    border: 2px solid $boder-line;

    // resize: both;
    // overflow: auto;
    cursor: nwse-resize;
}
